body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:black;
}
#container{
    width:1000px;
    height:550px;
    background-image:url("Image.jpg");
    background-size:cover;
    margin:20px auto;
}
#calculator{
    width:320px;
    height:520px;
    background-color:white;
    margin:0 auto;
    top:20px;
    position:relative;
    border-radius:5px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}
#keyboard{
    height:400px;
}
.operator,.number,.empty{
    width:50px;
    height:50px;
    margin:15px;
    float:left;
    border-radius:50%;
    border-width:0;
    font-weight:bold;
    font-size:15px;
}
.number,.empty{
    background-color:rgb(255, 196, 227)
}
.number,.operator{
    cursor:pointer;
}
.operator:focus,.number:focus,.empty:focus{
    outline:0;
}
.operator:active,.number:active{
    font-size:13px;
}
#result{
    height:120px;
}
#history{
    text-align:right;
    height:20px;
    margin:0 20px;
    padding-top:20px;
    font-size:15px;
    color:rgb(133, 105, 255)
}
#output{
    text-align:right;
    height:60px;
    margin:10px 20px;
    font-size:30px;
}
button:nth-child(4){
    font-size:20px;
    background-color:aquamarine;
}
button:nth-child(8) {
    font-size: 20px;
    background-color: rgb(127, 234, 255);
}
button:nth-child(12) {
    font-size: 20px;
    background-color: rgb(155, 172, 255);
}
button:nth-child(16) {
    font-size: 20px;
    background-color: rgb(246, 255, 127);
}
button:nth-child(20) {
    font-size: 20px;
    background-color: rgb(189, 255, 127);
}
#h1{
    background-color:deeppink;
    color:white;
    box-shadow:5px 5px 10px rgb(238, 175, 219);
    border-radius:5%;
}